@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{ 
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: #FBC400;
}

.login-box {

width: 370px;
height: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
background-color: #1D1C5D;
border-radius:50px;

}
.login-box h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: #FBC400;
    text-align: center;

}
hr{
	border: 3px solid #FBC400 ;
	max-width: 100px;
	margin-bottom: 20px;
}
.textbox, .textbox-password, .textbox-email{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding:9px 0;
	margin:10px 5px;
	background-color: none;


}
.textbox input, .textbox-password input, .textbox-email input{
    border:none;
	background: none;
    color: #FBC400 ;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.textbox:hover{
    font-size: 23px;
    border-bottom: 1px solid #FBC400 ;
}
.textbox-password:hover{
    font-size: 23px;
        border-bottom: 1px solid #FBC400 ;

}


.button{
	border: 4px solid #FBC400 ;
	border-radius: 300px;
	background-color: #1D1C5D ;
    outline: none;
    width: 330px;
    font-size: 23px;
    text-transform: uppercase;
    margin: 40px 20px;
    padding: 5px 10px ;
    color:  #FBC400 ;
    transform: translate(0 , -50%);
}

.button:hover{
	background-color:#FBC400 ;
	color:  #1D1C5D ;
	border: 7px solid #FBC400 ;
	font-weight: 600;
}

i{
	color: #FBC400 ;
	margin-left: 10px;
}
a{
	position: absolute;
	top: 90%;
	left:50%;
	color: #FBC400;
	font-weight: 400;
	font-size: 18px;
    text-decoration: none;
	color: #FBC400;
	transform: translate(-50% , 0);
}
a:hover{
	font-size: 19px;
}