


* {
	box-sizing: border-box;
    margin:0;
    padding:0;
 	background-color: #0D083B;
 	font-family: sans-serif;
 }


 li, a, button {
 	font-size: 20px;
 	font-weight: 400;
 	color: white;
    text-decoration: none;

 }

 header {
 	display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    

 }
.nav_links {
	list-style: none;
	
}

.nav_links li {
	display :inline-block;
	padding: 0px 30px;
}
 
.nav_links li  :hover {
	color: #1C822E;
}

button {
	border: 3px solid #1C822E;
	border-radius: 50px;
	padding: 5px 15px;
	color: #1F1959;
	font-size: 17px;
	outline: none;
	background-color:  #1C822E;
	display: flex;
	margin-left: auto;
}
button:hover {
    border-color:#FBC400;
    background-color:  #FBC400;

}
h5 {

	font-size: 28px;
	color: #1C822E;
	text-transform: uppercase;
     margin-right: auto;
    font-family: none;
}